.additional_details {
  gap: 24px;
}

.additional_title {
  font-size: 32px;
  color: #000;
  border-bottom: 1px solid #dee2ed;
  padding-bottom: 8px;
  font-weight: bold;
}
.additional_name {
  font-weight: bold;
  font-size: 20px;
}
.additional_header {
  display: flex;
  gap: 12px;
  line-height: 1.5em;
}

.additional_details-item {
  border-bottom: 1px solid #dee2ed;
  padding-bottom: 10px;
  font-size: 16px;
  display: grid;
  gap: 14px;
}
